.section {
    // .section_partners
    &_partners {
        padding: 100px 0;
        position: relative;
        @media (max-width: $breakpoint992) {
            padding: 50px 0;
        }
        @media (max-width: $breakpoint768) {
            padding: 30px 0;
        }
        @media (max-width: $mobile) {
            padding: 10px 0;
        }
    }
}

.partners {
    // .partners_title
    &_title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 70px;
        @media (max-width: $breakpoint992) {
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 50px;
        }
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // .swiper__arrows
    &__arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 350px;
        @media (max-width: $breakpoint992) {
            width: 300px;
        }
        @media (max-width: $mobile) {
            width: 250px;
        }
    }
}

.parthners {
    // .parthners_img
    &_img {
        position: absolute;
        right: 50px;
        top: 70px;
        width: 500px;
        @media (max-width: $breakpoint992) {
            width: 400px;
            right: 0%;
        }
        @media (max-width: $breakpoint768) {
            width: 300px;
        }
    }
}