.section {
    // .section_reviews
    &_reviews {
        position: relative;
        background: $secondary;
        padding: 80px 0px;
        @media (max-width: $breakpoint992) {
            padding: 60px 0px;
        }
        @media (max-width: $breakpoint768) {
            padding: 40px 0px;
        }
        @media (max-width: $mobile) {
            padding: 20px 0px;
        }
    }
}

.reviews_background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        $background;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews_img {
    position: absolute;
    width: 50%;
    height: 800px;
    top: -65px;
    @media (max-width: $breakpoint992) {
        width: 40%;
        height: 600px;
    }
    @media (max-width: $breakpoint768) {
        width: 20%;
    }
}

.reviews {
    color: $secondary;
    position: relative;
    z-index: 2;
    // .reviews__title
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 45px;
        z-index: 4;
        @media (max-width: $breakpoint992) {
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 30px;
        }
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }
    // .reviews__subtitle
    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 80px;
        @media (max-width: $breakpoint992) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 60px;
        }
        @media (max-width: $breakpoint768) {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    // .reviews__btn
    &__btn {
        display: flex;
        justify-content: end;
        gap: 30px;
        margin-bottom: 35px;
        margin-right: 10%;
        @media (max-width: $breakpoint768) {
            justify-content: center;
            margin: 0;
        }
        // .btn__prev
        .btn__prev {
            background: $primary;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        // .btn__next
        .btn__next {
            background: $primary;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transform: rotate(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    // .reviews__slider
    &__slider {
        display: flex;
        gap: 30px;
        @media (max-width: $breakpoint992) {
            gap: 10px;
        }
        @media (max-width: $breakpoint768) {
            padding: 30px 0px;
        }
        @media (max-width: $mobile) {
            padding: 10px;
        }
    }
    // .reviews__slider-item
    &__slider-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    // .reviews__slider-item-text
    &__slider-item-text {
        height: 100px;
        font-size: 16px;
        line-height: 20px;
        padding: 30px;
        background-color: $secondary;
        color: #222222;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: $breakpoint992) {
            height: 120px;
            padding: 20px;
        }
        @media (max-width: $mobile) {
            height: fit-content;
            padding: 15px;
        }
    }
    // .reviews__slider-item-author
    &__slider-item-author {
        margin-top: 35px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #222222;
    }
    // .reviews__slider-item-data
    &__slider-item-data {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #777777;
    }
}
