$primary: #764295;
$secondary: #F2F2F2;
$tertiary: #282828;

$background: linear-gradient(180deg, #764094 0%, #79B3CC 100%);


$breakpoint576: 576px;
$breakpoint768: 768px;
$breakpoint992: 992px;
$breakpoint1200: 1200px;

$mobile: 576px;